<main role="main">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light">My Fieldnotes</h1>
        <p class="lead text-muted">My Fieldnotes is a basic template for <br> 
        the bibong estudyante, fieldworker, or researcher.<br>
        This is still in development stage. For suggestions and comments, please contact me@susancorpuz.com</p>
        <p>
          <a href="/pages/info" class="btn btn-primary my-2">View Info</a>
          <a href="/ideas/new" class="btn btn-secondary my-2">Start Notetaking</a>
        </p>
      </div>
    </div>
  </section>

 <h1>Note cards</h1>
  <% Idea.all.in_groups_of(3).each do |row| %>
<div class="album py-2 bg-light">
  <div class="container">

    <div class="row">
     <% row.each do |idea| %> 
      <div class="col-md-4 col-md-4 col-md-4">
       <div class="card mb-4 shadow-sm">
       <% if idea %>
                <%= image_tag idea.picture_url(:thumb) if idea.picture.present? %>
                <!--TODO: if no uploaded photo use this placeholder  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                  <div class="card-body">
                  <p class="card-text"><h4><b><%= link_to(idea.name, idea_path(idea)) %></b></h4><b>Description: </b><%= idea.description %>  <small><%= link_to(idea.comments.count) %> comments </small></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'View', (idea) %></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_idea_path(idea) %> </button>
                      </div>
                        <small class="text-muted"><%= idea.created_at.strftime("%a, %d %b %Y") %></small>
                    </div>
                  </div>
        <% end %>
       </div>
      </div>
      <% end %>
    </div>
   </div>
  </div>
<% end %>
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <%= paginate @ideas %>
          </ul>
        </nav>
      </div>
</main>

