<main role="main" class="container">
  <div class="bg-light p-5 rounded">
    <div class="col-md-12">
<div class="row">
<% if @idea %>
  <div class="col-md-8">
    <%= image_tag(@idea.picture_url, width: '100%') if @idea.picture.present? %>
  </div>
<% end %>
  <div class="col-md-4 justify-content">
    <h3><%= @idea.name %></h3>
    <div class=row>

    <div>
    <small>posted on:<%= @idea.created_at.strftime("%A, %d %B %Y")  %></small><br>
    <small>updated on:<%= @idea.updated_at.strftime("%A, %d %B %Y") if @idea.updated_at.present? %></small></p>
    <div><b>Description: </b><%= @idea.description %></div>
    </div>
    <div class="justify-content">
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Delete', idea_path(@idea), method: :delete, data: { confirm: "Delete talaga? Sure ka, 'teh?" } %> |
      <%= link_to 'Back', ideas_path %>
    </div>
    </p>
  </div>
  <div
    <div class="border">
       <strong>Data Sources</strong>
       <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
    </div>
    </div>
  </div>
</main>
<!-- TODO: Rework comment section -->
<section class='container'>
 <div class="bg-light p-5 rounded">
    <h3>Comments</h3>
      <% @comments.each do |comment| %>

    <strong>by: <%= comment.user_name %></strong> ( <small> <%= comment.created_at.strftime("%a, %d %b %Y") %> </small> )
    <br>
    <p><%= comment.body %> </p>
    <p><%= link_to 'Delete', idea_comment_url(@idea, comment), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Edit', edit_idea_comment_url(@idea, comment) %></p>
<% end %>
    <strong><p>Add Comment:</p></strong>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
</div>
</div>
</div>
</section>


</div>
      <div>
        <nav aria-label="...">
          <ul class="pagination justify-content-center">

          </ul>
        </nav>
      </div>