<p id="notice"><%= notice %></p>
<div class="bg-light p-5 rounded">
  <h1>Comments</h1>

  <table>
    <thead>
      <tr>
        <th>User name</th>
        <th>Body</th>
        <th>Idea</th>
        <th>Date Created</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_name %></td>
        <td><%= comment.body %></td>
        <td><%= comment.idea.description %></td>
        <td><%= comment.created_at.strftime("%A, %d %B %Y") %></td>
        <td><%= link_to 'Show', idea_comment_path(@idea, comment) %></td>
        <td><%= link_to 'Edit', edit_idea_comment_path(@idea, comment) %></td>
        <td><%= link_to 'Destroy', idea_comment_url(@idea, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Comment', new_idea_comment_path(@idea) %>
</div>